/* PHASE 0: Sidebar */

.profile-picture {
    display: block;
    margin-top: -100px;
    position: relative;
}

.profile-nav {
    margin: 20px 0;
}

.profile-nav > li {
    border-bottom: 2px solid lightgray;
}
.profile-nav > li:first-child {
    border-top: 2px solid lightgray;
} 

.profile-nav  a {
    display: block;
    font-size: 15px;
    padding: 5px;
    font-weight: 700;
}

.profile-info > h1{
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    
}